@model StudentsHelper.Web.ViewModels.SchoolSubjects.SchoolSubjectsListViewModel
@using StudentsHelper.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@section Css {
<link rel="stylesheet" href="~/css/homePage.min.css" asp-append-version="true" />
}

@if (User.IsInRole(GlobalConstants.TeacherRoleName))
{
    <h5 id="teacher-pricing-info">Възнагражденията от всички проведени уроци се събират и се изплащат в края на всеки месец.<br />Таксата на сайта е @(GlobalConstants.WebsiteMonthPercentageTax * 100)% от месечната сума.</h5>
}

@if (!User.Identity.IsAuthenticated)
{
    @section GuestMainPageHeader {
<div id="imp_content">
    <h1>
        МИГНОВЕНИ<br>
        ОНЛАЙН КОНСУЛТАЦИИ<br>

        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">
            Регистрирай се
        </a>
    </h1>
</div>
    }
}

@{
    int counter = 0;
}

<cache>
    <div class="row schoolSubjects justify-content-center">
        @foreach (var schoolSubject in Model.SchoolSubjects)
        {
            <div id=@schoolSubject.Id class="col-lg-4 col-sm-6 schoolSubjectItem">
                <img src=@schoolSubject.IconPath class="img-fluid" style="width: 8rem;">
                <h4 class="schoolSubjectName w-75 text-center">@schoolSubject.Name</h4>
            </div>

            counter++;
        }
    </div>
</cache>

@section Scripts {
<script src="~/js/Home/home.min.js" asp-append-version="true"></script>
}