@using StudentsHelper.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center container-fluid">
    <header id="imp_content">
        <h1>
            МИГНОВЕНИ<br>
            ОНЛАЙН КОНСУЛТАЦИИ<br>

            <button class="btn btn-primary">
                ВХОД
            </button>
        </h1>
    </header>
    <main>

    </main>
</div>
