@using StudentsHelper.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@section Css {
    <link rel="stylesheet" href="~/css/homePage.min.css" asp-append-version="true" />
}

@if (!User.Identity.IsAuthenticated)
{
    @section GuestMainPageHeader {
        <div id="imp_content">
            <h1>
                МИГНОВЕНИ<br>
                ОНЛАЙН КОНСУЛТАЦИИ<br>

                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">
                    Регистрирай се
                </a>
            </h1>
        </div>
    }
}