@using StudentsHelper.Common
@using StudentsHelper.Services.Data.Paging
@using StudentsHelper.Web.ViewModels.Reviews
@model PagedResult<StudentReview>

<div class="reviews container pb-4">
	@foreach (var review in Model.Results)
	{
		<div class="review m-3 jumbotron p-0 col-7">
			<div class="row p-3">
				<img src=@(review.StudentApplicationUserPicturePath ?? GlobalConstants.NoProfilePicturePath)
					class="img-fluid ml-5 rounded mt-auto mb-auto" style="width: 50px; height: 50px;" />
				<div class="container col-9 text-left m-0 ml-4">
					<h6>@review.StudentApplicationUserName</h6>
					<div class="row pl-3">
						@{
							for (int i = 0; i < review.Rating; i++)
							{
								<img class="ultra-small-star mb-1 mr-1" src="~/img/star.png">
							}

							for (int i = review.Rating; i < 5; i++)
							{
								<img class="ultra-small-star mb-1 mr-1" src="~/img/empty_star.png">
							}
							<p class="small-date ml-1 mb-2">@review.CreatedOn.ToString("dd.MM.yyyy")</p>
						}
					</div>
					@if(review.Comment != null)
					{
						<p class="comment m-0 p-0">@review.Comment</p>
					}
				</div>
			</div>
		</div>
	}
</div>