@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Регистрация";
}

@section Css {
<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
}

<div class="auth-form register-page">
    <button id="past-part" class="btn btn-primary float-left hidden">
        <img class="img-fluid" src="~/img/back.png" />
    </button>
    <div class="row">
        <div class="col-md-12">
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                <h1 class="form-header">@ViewData["Title"]</h1>
                <h4>Свържете профила си във @Model.ProviderDisplayName</h4>
                <hr />
                <div id="allErrorsList" asp-validation-summary="All" class="text-danger"></div>
                <div id="part-1" class="part">
                    <h4>Къде преподавате?</h4>
                    <div class="form-group">
                        <label>Област:</label>
                        <select name="regions" class="form-control"></select>
                    </div>
                    <div class="form-group hidden">
                        <label>Община:</label>
                        <select name="townships" class="form-control"></select>
                    </div>
                    <div class="form-group hidden">
                        <label>Населено място:</label>
                        <select name="populatedAreas" class="form-control"></select>
                    </div>
                    <div class="form-group hidden">
                        <label>Училище:</label>
                        <select asp-for="TeacherModel.SchoolId" id="SchoolId" class="form-control"></select>
                        <span asp-validation-for="TeacherModel.SchoolId" class="text-danger"></span>
                    </div>
                </div>
                <div id="part-2" class="part hidden">
                    <div class="form-group">
                        <label asp-for="TeacherModel.QualificationDocument"></label>
                        <br />
                        <label class="text-muted">Диплома или друг документ, потвърждаващ педагогическа правоспособност</label>
                        <input asp-for="TeacherModel.QualificationDocument" class="form-control" />
                        <span asp-validation-for="TeacherModel.QualificationDocument" class="text-danger"></span>
                    </div>
                </div>

                <button id="register-submit" type="submit" class="btn btn-primary hidden">Регистрация</button>
                <button id="continue" class="btn btn-primary hidden">Продължи</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/Auth/registerWithOtherProvider.min.js" asp-append-version="true"></script>
}
