@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

@section Css {
    @await this.RenderSectionAsync("ManageCss", required: false)
    <link rel="stylesheet" href="~/css/notMinifiable.css" asp-append-version="true" />
}

<div class="background-container" style="min-height: 60vh;">
    <div class="mt-5 p-4">
        <h2 class="text-center">Управлявайте акаунта си</h2>
        <div>
            <h4 class="text-center">Променете настройките на вашия акаунт</h4>
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <partial name="~/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml" />
                </div>
                <div class="col-md-9 pl-lg-5">
                    @this.RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await this.RenderSectionAsync("Scripts", required: false)
}
