@page
@using StudentsHelper.Common;
@using StudentsHelper.Web.ViewModels.Balance;
@model Balance
@{
    ViewData["Title"] = "Баланс";
    ViewData["ActivePage"] = ManageNavPages.Balance;
}

<h5>@ViewData["Title"]: @Model.BalanceAmount</h5>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <h5>Добави</h5>
        <form method="POST">
            <div class="form-group">
                <label asp-for="Input.DepositRequestMoneyAmount"></label>
                <input asp-for="Input.DepositRequestMoneyAmount" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Плати</button>
            <br />
            <span asp-validation-for="Input.DepositRequestMoneyAmount" class="text-danger"></span>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
