@using StudentsHelper.Common
@using StudentsHelper.Web.ViewModels.Reviews
@using StudentsHelper.Services.Data.Ratings.Models
@model TeacherDetails

@{
    ViewData["Title"] = Model.ApplicationUserName;
}

@section Css
{
<link rel="stylesheet" href="~/css/teacherDetails.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/studentReview.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/notMinifiable.css" asp-append-version="true" />
}

<div class="container m-lg-5 col-auto text-center background-container">
    @if (this.User.IsInRole(GlobalConstants.StudentRoleName))
    {
        @await Html.PartialAsync("_StudentOptionsInTeacherDetailsPartial", Model)
    }
    <div>
        <img id="teacher-profile-picture" src=@(Model.ApplicationUserPicturePath ?? GlobalConstants.NoProfilePicturePath)
             class="col-md-2 img-fluid m-lg-4 teacher-picture img-thumbnail p-lg-4" />
    </div>
    <div class="mb-lg-4"><h2>@Model.ApplicationUserName</h2></div>
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <hr />
        <div>
            <p>
                @Html.Raw(Model.Description)
            </p>
        </div>
    }
    <hr />
    @await Html.PartialAsync("_TeacherReviewsPartial", Model)
</div>

@section Scripts {
	@if (!Model.HasUserReviewedTeacher)
		{
<script src="~/js/Reviews/starsChoice.min.js" asp-append-version="true"></script>
<script src="~/js/Reviews/showAddReviePage.min.js" asp-append-version="true"></script>
		}
<script src="~/js/Reviews/showNextReviews.min.js" asp-append-version="true"></script>
}
