@model IEnumerable<StudentsHelper.Web.ViewModels.Administration.Students.StudentForAllTeachersListViewModel>

@{
    ViewData["Title"] = "Всички ученици";
}

<h1 class="text-center mt-2 mb-4">@ViewData["Title"]</h1>

<table class="table text-center">
    <thead>
        <tr>
            <th>Снимка</th>
            <th>Име</th>
            <th>Менюта</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="mr-auto ml-auto width-fit-content">
                        <vc:user-profile-picture picture-path=@item.ApplicationUserPicturePath email=@item.ApplicationUserEmail></vc:user-profile-picture>
                    </div>
                </td>
                <td>
                    @item.ApplicationUserName
                </td>               
                <td>
                    <a asp-action="Details" asp-route-studentId="@item.Id" class="btn btn-info">Детайли</a>
                    <a asp-action="Edit" asp-route-studentId="@item.Id" class="btn btn-warning">Редактиране</a>
                </td>
            </tr>
        }
    </tbody>
</table>
