@using StudentsHelper.Common
@model IEnumerable<StudentsHelper.Web.ViewModels.Teachers.TeacherViewModel>

@{
    ViewData["Title"] = "Учители за одобряване";
}

@section Css
{
<link rel="stylesheet" href="~/css/teachersList.css" asp-append-version="true" />
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row col-md-10 offset-md-1 p-2 one-teacher-row">
            <img src=@(item.ApplicationUserPicturePath ?? GlobalConstants.NoProfilePicturePath) class="img-fluid teacher-picture col-md-1" />
            <p class="col-md-7 m-auto">
                @item.ApplicationUserName
            </p>
            <a asp-area="Administration" asp-controller="" asp-action="Details" asp-route-teacherId="@item.Id" class="col-md-2 m-auto btn btn-info">Детайли</a>
        </div>
    }
</div>
