@using StudentsHelper.Common
@using StudentsHelper.Web.ViewModels.Administration.Teachers
@using StudentsHelper.Web.ViewModels.Paging

@model PagedResult<NotDetailedTeacherViewModel>

@{
    ViewData["Title"] = "Учители за одобряване";
}

@section Css
{
<link rel="stylesheet" href="~/css/notMinifiable.css" asp-append-version="true" />
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    @foreach (var item in Model.Results)
    {
        <div class="row col-md-10 offset-md-1 p-2 mb-2 background-container">
            <img src=@(item.ApplicationUserPicturePath ?? GlobalConstants.NoProfilePicturePath) class="img-fluid ml-3 rounded" style="width: 50px; height: 50px;" />
            <p class="col-md-7 m-auto">
                @item.ApplicationUserName
            </p>
            <a asp-area="Administration" asp-controller="Teachers" asp-action="SetTeacherData" asp-route-teacherId="@item.Id" class="col-md-2 m-auto btn btn-info">Детайли</a>
        </div>
    }
    <div class="ml-5">
        @await Html.PartialAsync("~/Views/Shared/PartialViews/_PagingNavigationPartial.cshtml", Model.PagingData)
    </div>
</div>
