@using StudentsHelper.Common
@model IEnumerable<StudentsHelper.Web.ViewModels.Administration.Teachers.NotDetailedTeacherViewModel>

@{
    ViewData["Title"] = "Учители за одобряване";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row col-md-10 offset-md-1 p-2 mb-2" style="box-shadow: 0 1px 3px 0 rgb(0 0 0 / 1%), 0 1px 3px 0 rgb(0 0 0 / 1%), 0 1px 3px 0 rgb(0 0 0 / 22%);">
            <img src=@(item.ApplicationUserPicturePath ?? GlobalConstants.NoProfilePicturePath) class="img-fluid ml-3 rounded" style="width: 50px; height: 50px;" />
            <p class="col-md-7 m-auto">
                @item.ApplicationUserName
            </p>
            <a asp-area="Administration" asp-controller="Teachers" asp-action="SetTeacherData" asp-route-teacherId="@item.Id" class="col-md-2 m-auto btn btn-info">Детайли</a>
        </div>
    }
</div>
