@model StudentsHelper.Web.ViewModels.Administration.Teachers.TeacherExternalData

@{
    ViewData["Title"] = "SetTeacherData";
}

@section Css
{
<link rel="stylesheet" href="~/css/teacherDetailsAdmin.css" asp-append-version="true" />
}

<div class="container background-container m-lg-5 col-auto text-center">
    <h2 class="pt-lg-5">@Model.ViewData.ApplicationUserName</h2>
    <form class="p-lg-5" method="post">
        <input type="hidden" name="Id" value=@Model.Id />
        <div class="form-group mb-lg-5">
            <label asp-for=@Model.SubjectsId></label>
            <select asp-for=@Model.SubjectsId class="form-control" multiple size="8">
                @foreach (var subject in Model.ViewData.Subjects)
                {
                    <option value="@subject.Id">@subject.Name</option>
                }
            </select>
            <span asp-validation-for=@Model.SubjectsId class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Активирай</button>
    </form>
</div>