@using StudentsHelper.Web.ViewModels.Reviews
@model StudentsHelper.Web.ViewModels.User.UserProfilePictureViewModel

@{
    string onClickEvent = string.Empty;
    string additionalCss = string.Empty;
    if (Model.IsInTeacherRole)
    {
        onClickEvent = $"window.location.replace('/Teachers/Details?teacherId={Model.TeacherId}');";
        additionalCss = "cursor: pointer;";
    }
}

<div class="ml-auto position-relative width-fit-content" onclick=@Html.Raw(onClickEvent) style="@additionalCss">
    <img src=@Model.PicturePath class="img-fluid ml-3 rounded profile-picture-img" />
    @if (Model.IsActive != null)
    {
        <div class="profile-status-background">
            <div class="profile-status-icon @(Model.IsActive.Value ? "profile-status-active" : "profile-status-notActive")"></div>
        </div>
    }
</div>
