<main>
    <div id="chat">
        <p>Joining <span id="room"></span> as <span id="username"></span></p>
        <div id="participants"></div>
    </div>
</main>

@section Scripts {
    <script src="https://media.twiliocdn.com/sdk/js/video/releases/2.7.2/twilio-video.min.js"></script>
    <script src="~/js/videoChat.js"></script>
}