.light-header{
    font-weight: 400;
}

.sort-img {
    width: 20px;
}

#rating-header {
    margin-left: -10px;
}

#heart-img-btn:focus {
    outline: none;
    box-shadow: none;
}

#heart-img {
    width: 37px;
}

    #heart-img:hover {
        transform: scale(0.94);
    }
