body {
    background-color: #96F0B6;
}

/*darker = #1A275E*/
/*lighter = #202F72*/

#app-icon {
    height: 3rem;
    margin-right: 2rem;
    margin-left: 1rem;
}

#cookieConsent {
    z-index: 1;
    position: fixed;
    bottom: 4rem;
    width: 50%;
    left: 25%;
}

#imp_content {
    background: linear-gradient(90deg, rgba(150,240,182,0.31976540616246496) 0%, rgba(150,240,182,0.908000700280112) 0%), url('/img/imp_content_bg.jpeg'), no-repeat;
    text-align: center;
}

#imp_content h1 {
    font-weight: 700;
    padding: 3rem;
}

#imp_content .btn-primary {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2rem;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar {
    font-size: 1.2rem;
    background-color: black!important;
}

.navbar button {
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #1A275E;
}

.auth-form {
    margin-top: 2rem;
}

.auth-type-button {
    background-color: transparent;
    border: none;
}

.auth-type-button:hover {
    transform: scale(.90);
}

.auth-type-image {
    height: 54px;
    width: 54px;
}

footer {
    background-color: black;
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #1ED760;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #96F0B6;
    background-color: #202F72;
    border-color: #1A275E;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}*/

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
