#teacher-profile-picture {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

#rating-statistic {
    background-color: transparent;
    border: 1px solid #d0d0d0;
}

.star {
    height: 20px;
    width: 20px;
}

.small-star {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
