#rating-statistic {
    background-color: transparent;
    border: 1px solid #d0d0d0;
}

.star {
    height: 20px;
    width: 20px;
}

.small-star {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.paging-nav-img {
    width: 15px;
    height: 15px;
    background-size: 100% 100%!important;
}

.paging-nav-img-holder {
    border-radius: 20px;
    border: 1px solid #4747479e;
    padding: 8px;
    margin-right: 3px;
}