@model StudentsHelper.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="text-center">
    <h1 class="p-md-4">@this.ViewData["Title"]</h1>

    <ul>
        <li class="mb-3"><a class="text-decoration-none btn btn-primary" asp-area="Administration" asp-controller="Teachers" asp-action="AllToApprove">Учители за одобряване</a></li>
        <li class="mt-3 mb-3"><a class="text-decoration-none btn btn-primary" asp-area="Administration" asp-controller="Teachers" asp-action="AllTeachers">Всички учители</a></li>
        <li class="mt-3 mb-3"><a class="text-decoration-none btn btn-primary" asp-area="Administration" asp-controller="Students" asp-action="AllStudents">Всички ученици</a></li>
    </ul>
</div>