@using StudentsHelper.Common
@using StudentsHelper.Data.Models

<ul class="navbar-nav">
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
        </li>
    }
</ul>
