@using StudentsHelper.Common
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="Q1VrDLmi6xCtg_bhZv_HVt5kR5j9rzRWVW13gPc9zxM" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="author" content="Daniel Yordanov">
    <meta name="description" content=@Html.Raw("\"" + GlobalConstants.SiteDescription + "\"")>
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <partial name="_FaviconsPartial" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style-rules.min.css" asp-append-version="true" />
    @await this.RenderSectionAsync("Css", required: false)
</head>
<body>

    <partial name="_LayoutHeaderPartial" />

    @await this.RenderSectionAsync("GuestMainPageHeader", required: false)

    <div id="pageBody" class="container">
        <partial name="_AlertMessagesPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
        <partial name="_CookieConsentPartial" />
    </div>

    <partial name="_LayoutFooterPartial" />

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("BeforeBootstrapJsScripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
