@using StudentsHelper.Common
@using StudentsHelper.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject StudentsHelper.Services.CloudStorage.ICloudStorageService CloudStorage

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li id="navbar-profile-pic" class="nav-item row mr-1">
            @{
                var user = await this.UserManager.GetUserAsync(this.User);
                var userName = user.Name;
                var profilePicUrl = this.CloudStorage.GetImageUri(user.PicturePath, 45, 45);
            }
            <a class="nav-link pl-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @userName
            </a>
            <img src=@(profilePicUrl ?? GlobalConstants.NoProfilePicturePath) class="img-fluid m-2 rounded">
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item mr-3">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
    }
</ul>
