@using StudentsHelper.Common
@using StudentsHelper.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject StudentsHelper.Services.CloudStorage.ICloudStorageService CloudStorage
@inject StudentsHelper.Services.Data.Teachers.ITeachersService teachersService

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        var user = await this.UserManager.GetUserAsync(this.User);
        var userName = user.Name;
        var profilePicUrl = this.CloudStorage.GetImageUri(user.PicturePath, 45, 45);

        {
            string userRoleNameOnBG;
            string roleBorderColor = "#1DB954";
            string roleNameSpanColor = "#4cec85";
            string additionalRoleSpanAttributes = string.Empty;

            if (this.User.IsInRole(GlobalConstants.StudentRoleName)) { userRoleNameOnBG = "ученик"; }
            else if (this.User.IsInRole(GlobalConstants.TeacherRoleName))
            {
                if (!GlobalVariables.TeachersAccountStatus.TryGetValue(this.User.Identity.Name, out bool isConfirmed))
                {
                    if (teachersService.IsTeacherConfirmed(user.Id))
                    {
                        GlobalVariables.TeachersAccountStatus[this.User.Identity.Name] = true;
                        isConfirmed = true;
                    }
                }

                if (!isConfirmed)
                {
                    roleBorderColor = "#848484";
                    roleNameSpanColor = "#acacac";
                    additionalRoleSpanAttributes = "data-toggle='tooltip' data-placement='bottom' title='профила ви не е потвърден от администрацията на сайта все още'";
                }

                userRoleNameOnBG = "учител";
            }
            else { userRoleNameOnBG = "админ"; }

            <li id="user-role-display-li" class="mr-3 nav-item" style="border: 3px solid @roleBorderColor;">
                <span class="nav-link p-0 text-center" style="color: @roleNameSpanColor;" @Html.Raw(additionalRoleSpanAttributes)>@userRoleNameOnBG</span>
            </li>
        }

        <li id="navbar-profile-pic" class="nav-item row mr-1 ml-0">
            <a class="nav-link pl-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @userName
            </a>
            <img src=@(profilePicUrl ?? GlobalConstants.NoProfilePicturePath) class="img-fluid m-2 rounded">
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item mr-3">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </li>
    }
</ul>
